<h1 class="page-header text-center">Would you rather?</h1>

<p class="text-center"><%= link_to 'New Question', new_question_path, id: "new_question_link", remote: true %>

<ul id="questions_list">
  <%= render(@questions) %>
</ul>
